.top-bar {
    box-shadow: 0px 4px 10px 0px #C4C4C4;

    &.stickybar {
        position: fixed;
        top: 0;
        z-index: 20;
        width: 100%;
    }
    .row-list {
        @include grid-row();

        .column-list {
            @include grid-column($columns:12, $last-column:true, $center:false, $offset:false, $push:false, $pull:false, $collapse:false, $float:true);
            margin-left: 0;
        }
    }
    .nav-item {
        width: 20%;
        margin-left: 0;

        &:hover {
        }

        &.btn {
            width: 40%;
            vertical-align: middle;
        }
        &.only-touch {
            display: none;
        }
        button, .a-button {
            font-size: 0.8em;

            margin: 0;
            margin-top: 0.8em;
            margin-left: auto;
            padding-top: 0.7em;
            padding-bottom: 0.7em;
        }
        .a-button {
            width: 172px;
        }
    }
    .nav-item .nav-link{
        color: rgb(140,140,140);
        font-size: 1em;
        line-height: $topbar-height;
        text-align: center;
        letter-spacing: 1px;
        @include transition(color 250ms ease-in);

        &:hover {
            color: rgb(209,0,0);
        }
    }
    .hamb {
        display: inline-block;
        height: 44px;
        width: 70px;
        padding: 0 5px;
        margin-left: 1em;
        overflow: hidden;
    }
    .hamb-line {
        width: 34px;
        height: 4px;
        margin: auto;
        margin-top: 6px;
        border-radius: 4px;
        background: rgb(180,180,180);

        &:first-child {
            margin-top: 10px;
        }
    }
    
    @media #{$small} {
        .nav-item .nav-link {
            font-size: 1.1em;
        }
        .nav-item button, .nav-item .a-button {
            font-size: 1em;
            margin-top: 0.50em;
        }
    }

// TOUCH CLASSES
    &.touch-bar {
        height: auto;
    }
    .touch-list {
        overflow: hidden;
        @include transition(height 400ms ease-in);
        height: 284px;

        &.closed {
            height: 44px;
        }
        & > li {
            @include transition(opacity 250ms ease-in);
            opacity: 1;
        }
        & > li.closed {
            //display: none !important;
            opacity: 0;
        }
        .list-header {
            height: 44px;

            .redbutton {
                position: relative;
                top: -17px;
                right: -70px;
                font-size: 0.8em;
                margin-bottom: 0;
                padding-top: 0.7em;
                padding-bottom: 0.65em;
            }
        }
        & >li.only-touch {
            display: inherit;
        }
    }
    .touch-item {
        float: left;
        width: 100%;


        .nav-link {
            margin-left: 1.5em;
        }
    }
}