$padding: $button-med;

$fbcolor: #2f4a84;
$twcolor: #00acee;
$gcolor: #CD332D;

$radius: 10px;

$full-width: false;
$disabled: false;
$is-input: false;

// TOUCH
.social-btn {
    width: 100%;
    display: block;
}
.facebook {
    @include button($padding, $fbcolor, $radius, $full-width, $disabled, $is-input);
    font-family: "Lucida Grande";
    font-weight: normal;
    box-shadow: none;
    text-shadow: 0px 1px 8px #555;
    border-color: $fbcolor;
    margin-bottom: 0.5em;
}
.twitter {
    @include button($padding, $twcolor, $radius, $full-width, $disabled, $is-input);
    font-family: "Lucida Grande";
    font-weight: normal;
    box-shadow: none;
    text-shadow: 0px 1px 8px #555;
    border-color: $twcolor;
    margin-bottom: 0.5em;
}
.google {
    @include button($padding, $gcolor, $radius, $full-width, $disabled, $is-input);
    font-family: "Lucida Grande";
    font-weight: normal;
    box-shadow: none;
    text-shadow: 0px 1px 8px #555;
    border-color: $gcolor;
    margin-bottom: 0.5em;
}

// DESKTOP
.transbox {
    float: left;
    width: 44px;
    height: 42px;

    border-radius: 10px;
    border: 1px solid rgba(255,254,255,0.25);
    margin-right: 0.2em;

    background: rgba(255,254,255,0.15);
    color: rgba(255,254,255,0.40);
    line-height: 46px;
    text-align: center;
    @include transition(all 500ms ease-in);

    cursor: pointer;
    user-select: none;

    &:hover {
        background: rgba(255,254,255,0.30);
        color: rgba(255,254,255,0.90);

        &.fb {
            border: 2px solid rgba($fbcolor, 0.6);
        }
        &.tw {
            border: 2px solid rgba($twcolor, 0.6);
        }
        &.go {
            border: 2px solid rgba($gcolor, 0.6);
        }
    }

}
