// foundation
@import "settings";
@import "foundation";

// custom css components
@import "redbutton";
@import "nav-bar";

body {
    font-family: 'Cassannet';
    background-color: $body-bg;
}
::selection {
    background: rgba(255,0,0,.5);
    color: #FFF; 
}
.strong {
    font-family: 'Cassannet Bold';
    letter-spacing: 1px;
}
.full {
    min-width: 100%;
    margin: 0;
    max-height: 640px;
    overflow-y: hidden;
}
.wolfpack-container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin-left: 5%;
    margin-top: 0.25%;

    h1 {
        font-size: 2.5em;
        color: #FFF;
    }

    @media #{$small} {
        margin-left: 12.5%;
        margin-top: 10%;

        h1 {
            font-size: 3.75em;
        }
    }
}
.header-video {
    width: 100%;
    z-index: 0;
}
header.stickybar {
    margin-bottom: 95px;
}
.panel {
    h1, h2, h3{
        color: $header-font-color;
    }
    h1 {
        font-size: 1.8em;
    }
    @media #{$small} {
        h1 {
            font-size: 2.75em;
        }
    }
}
.panel p {
    color: $body-font-color;
}
.section1-panel, .section2-panel, .section3-panel {
    overflow: hidden;
    background-color: #FFF;
    border-radius: $global-radius;
}